<div id="homepage_wrap">
	<br>
	<br>
	<br>
	<br>
	<h1 id="homepage"> Bark Buddies </h1>
	<br>
	<br>
	<div class="container-fluid">
			<div id="textboxes">
				<br>

				<hr class="hr">
				<br>
				<br>
			<div class="row homepage_wrapper">
				<div class="col-xs-12 col-sm-6">
				<h2 class="textTitle"> How this works:  </h2>
			</div>
				<br>
			<div class="col-xs-12 col-sm-6 textExp">
				<h5> Getting your pups to the dog park is easy, but coordinating playtime with their canine pals can be a hassle. No more! Bark Buddies is a platform that allows users to check in and out of their local dog park, letting other dog owners know when their pup is ready to play. </h5>
				<h5> Now you don't have to worry about making that trek to the park in the rain only to find out no one else is there... </h5>
				<br> 
				<br>
				</div>

					<br>

			</div>
					<hr class="hr">
					<br>
					<br>
					<br>
			<div class="button_control">
				<%= link_to login_url do
				button_tag "Sign In", id: "sign_in_index"
				end %> 
				<%= link_to owners_new_url do
				button_tag "Sign Up", id: "sign_up_index"
				end %>
			</div>
					<br>
					<br>
		</div>
	</div>
</div>
