<br>
<br>
 <br>
 <br>
 <br>
 <h1 class="always_title"> Bark Buddies </h1>
	<div id="rule-wrapper" class="container-fluid">
	<br>
	<br>
		<div class="format">
			<h1 id="rules_title"> The Rules </h1>
			<br>
			<br>
			<hr class="hr-rule">

			<div class="format-inset">
			<br>
				We want you and your dog to have a fun and safe time. By entering our public dog parks, you agree to be financially responsible for any injury caused by your dog and abide by posted rules. Please do not enter the run if you are not confident of your dog’s ability to interact safely with other people and dogs. 
			<br>
			<br>
				Washington Square Park has two dog runs - one for small dogs and one for large dogs. While dogs over 25 pounds are not permitted in the small dog run, small dogs are welcome in the large dog run.
			</div>
			<br>
			<br>
			<hr class="hr-rule">
			<div class="format-inset">

			<br>
			<ul id="all-rules">
				<li class="rules_dot"> No dogs without people. No people without dogs. </li>
				<li class="rules_dot"> All dogs over 6 months of age must be neutered or spayed. </li> 
				<li class="rules_dot"> No aggressive dogs. </li>
				<li class="rules_dot"> Accompany and monitor your dog in the run at all times. </li>
				<li class="rules_dot"> Remain alert! Interrupt overly rough play and mounting. </li>
				<li class="rules_dot"> If your dog gets into a fight or injures another dog, exchange contact information with the other owner and remove your dog from the run. </li>
				<li style="font-style: bold;", class="rules_dot"> You are legally and financially responsible for any injury caused by your dog, even if your dog is with a walker at the time of the incident. </li>
				<li class="rules_dot"> Dogs must be licensed and properly vaccinated. </li>
				<li class="rules_dot"> Do not use the run if your dog has a communicable disease. </li>
				<li class="rules_dot"> Your dog must wear a collar or harness while in the run. </li>
				<li class="rules_dot"> Prong, chain and spike collars are prohibited. </li>
				<li class="rules_dot"> Children must be accompanied by an adult and remain seated. </li>
				<li class="rules_dot"> Dispose of all dog waste. </li>
				<li class="rules_dot"> Prevent digging and excessive barking. </li>
				<li class="rules_dot"> No toys except standard size tennis balls. </li>
				<li class="rules_dot"> No food. </li>
				<li class="rules_dot"> Only dogs 25 pounds and under in the small dog area. Large breed puppies under 25 pounds ARE permitted. </li>
			</ul>
			<br>
			<br>
			</div>
			<hr class="hr-rule">
		<br>
		<br>
		<div id="rules-link">
			<h3 class="text"> More Questions? </h3>
			<h4 class="text-x"> Check <a href="https://static1.squarespace.com/static/5313d3e9e4b0d7a86d52896e/t/53291220e4b00d0eac2720b7/1395200544925/dogcourt.PDF"> here.</a></h4>
			</div>
		</div>

		</div>
		<br>
		<br>
	</div>