/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	background-color: #6ED1E5;
}

#create_acc{
	text-align: center;
	font: sans-serif;
}

.new_owner_form fieldset {
	background: #6ED1E5;
	margin-top: 5px;
	margin: 0 auto;
	width: 350px;
}

.new_owner_form legend {
	color: black;
	background: #6ED1E5;
	padding: 0.2em 1em;
}

.new_owner_form div {
	margin-bottom: 0.3em;
}

form label {
	width: 120px;
	float: left;
	text-align: right;
	display: block;
	margin-top: 10px;
}

.new_owner_form form select, textarea, input{
	margin-left: 0.5em;
	padding: .5px;
	background-color: white;
	margin-top: 10px;
} 

.actions .submit {
	margin: 0 auto;
/*	padding: 10px;*/
	width: 100%;
}