/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	background-color: #6ED1E5;
}

/* Navbar styles */
#navlinks{
	text-align: right;
	margin-right: 20px;
}


/* Homepage styles */
#homepage{
	text-align: center;
	margin: 0 auto;
	font: Oldtown, fantasy;
}


/* New Account Styles */

#create_acc{
	text-align: center;
	font: sans-serif;
}

.new_owner_form fieldset {
	background: #6ED1E5;
	margin-top: 5px;
	margin: 0 auto;
	width: 375px;
}

.new_owner_form legend {
	color: black;
	background: #6ED1E5;
	padding: 0.2em 1em;
}

.new_owner_form div {
	margin-bottom: 0.3em;
}

.new_owner_form form label {
	width: 120px;
	float: left;
	text-align: right;
	display: block;
	margin-top: 10px;
}

.new_owner_form form select, textarea, input{
	margin-left: 0.5em;
	padding: .5px;
	background-color: white;
	margin-top: 10px;
}

.new_owner_form input{
	width: 175px;
}

.actions .submit {
	margin: 0 auto;
	width: 100%;
}

#sub{
	text-align: center;
}


/* Owners Index Styles */


#current_visitors{
	text-align: center;
}

#all_owners{
	text-align: center;
}

#owners_list{
	width: 100%;
}

#check_in_title{
	margin: 0 auto;
}

/*#check_border{
	border: 1px white solid;
	background-color: white;
	width: 170px;
	padding: 3px;
}*/


/*[css].classname {
color: #333333;
font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}[/css]*/

.checkin_Test{
color: #333333;
font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}/*[/css]*/


















