/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 						/* All Pages Style */
*{
/*	background-color: #8FC6FD;*/
	font-family: times, serif;

}


.hr{
	border: solid #09418A .5px;
	width: 80%;
}

#body_style{
	background-color: #8FC6FD;

}

.search-btn{
	width: 80px;
	border-radius: 10px;
	padding: 3px;
	background-color: white;
}

.search-input{
	margin-left: 10px;
	width: 180px;
}

.always_title{
	text-align: center;
	margin: 0 auto;
	font-family: times, serif, bold;
	font-size: 65px;


}

					/* Navbar styles */
#navlinks{
	text-align: right;
	margin-right: 20px;
	float: right;
	padding-top: 10px;

}
.linkers{
	color: navy;
	font-size: 16px;
	font: bold;
}

#navwrap{

}

				/* Homepage styles */
/*
#homepage_wrap{
	width: 90%;
}*/

#homepage_title{
	text-align: center;
	margin: 0 auto;
/*	font-family: cursive;*/
	font-size: 60px;
	background-color: #8FC6FD;
	width: 80%; 
}
.textTitle{
	text-align: center;

}

.textExp{
	text-align: center;

}

.homepage_wrapper{
	background-color: #8FC6FD;
	max-width: 90%;
	margin: 0 100px;  
}


								/* The Rules Styles */

#rule-wrapper{
	max-width: 90%;
	margin-left: 5%;
}

#rules_title{
	font-size: 45px;
	text-align: center;
}

#all-rules{

}
.rules_dot{
	font-size: 15px;
}

.hr-rule{

	border: solid #09418A .5px;
	width: 90%;
}

#rules-link{
	background-color: white;
	opacity: .6;
	border-radius: 50%;
	max-width: 300px;
	margin: 0 auto;
}

.text{
	padding: 50px;
	opacity: 1;
	text-align: center;
}

.text-x{
	padding-bottom: 40px;
	opacity: 1;
	text-align: center;
}

.format{
	width: 95%;
display: block;
}

.format-inset{
	width: 80%;
	margin-left: 9%;
	font-size: 15px;
}


								/* New Account Styles */
#account_wrapper{
	background-color: #8FC6FD;
}
#create_acc{
	text-align: center;
	font: sans-serif;
}

.new_owner_form {
	text-align:center;
}
.new_owner {
	display: inline-block;
	width: 600px;
}

.new_owner_form fieldset {
	background: #8FC6FD;
	margin-top: 5px;
	margin: 0 auto;
	width: 390px;
}

.new_owner_form legend {
	color: black;
	background: #8FC6FD;
	padding: 0.2em 1em;
}

.new_owner_form div {
	margin-bottom: 0.3em;
}

.new_owner_form form label {
	width: 120px;
	text-align: right;
	display: inline-block;
	margin-top: 10px;
}

.new_owner_form form select, textarea, input{
	margin-left: 0.5em;
	padding: .5px;
	background-color: white;
	margin-top: 10px;
}

#owner_avatar{
	width: 175px;
	height: 25px;
	margin-bottom: 0;
	margin-left: 3px;
	display: inline;
    image-orientation: from-image;

}

.actions .submit {
	margin: 0 auto;
	width: 100%;
}

#sub{
	text-align: center;
}

.new_owner_form input {
	width: 175px;
}



#create_fieldset{
	border: 1px groove #ddd;
	text-align: center;
	padding: 0 1.4em 1.4em 1.4em;
	width: 90%;
	max-width: 600px;
	padding: 5 10px;
	margin-left: 25px;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

#acc_legend{
	border-bottom:0;
	width:auto !important;
}


						/* New Session Styles */
#newSession_fieldset{
	border: 1px groove #ddd;
	text-align: center;
	padding: 0 1.4em 1.4em 1.4em;
	width: 90%;
	max-width: 450px;
	padding: 5 10px;
	margin-left: 85px;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    margin: 0 auto;
}

#newSession_legend{
	border-bottom: 0px;
	width:auto !important;
	padding: 0.2em 1em;
}

.login_btn{
    width: 70px;
	border-radius: 10px;
	padding: 3px;
	background-color: white;

}

#error_message{
	text-align: center;
	margin: 0 auto;
}


								/* Owners Index Styles */

.pagelink{
	color: navy;
	font-size: 14.5px;
	text-decoration: underline;
}


#checkin_with_cam{
	width: 75px;
	border-radius: 10px;
	padding: 3px;
	background-color: white;
}

#current_visitors{
	text-align: center;
}

#all_owners{
	text-align: left;
}

.checked_in_owners{
	margin: 0 80px;
	text-align: center;
}

#check_in_title{
	margin: 0 auto;
	text-align: center;
}

#check_border{
	width: 265px;
	padding-left: 10px;
	text-align: center;

}

#dogpark_checkin{
	font-size: 12px;
}


#checkin_fieldset {
	border: 3.3px groove #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	max-width: 900px;
	padding: 5 10px;
	margin: 0 auto;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;

}

#checkin_legend{
	border-bottom:0;
	width: auto !important;
	text-align: center;
	padding: 0.3em 1.2em;

}

#checkin_back{
	max-width: 1050px;
	border-radius: 10%;
	display: block;
	margin: 0 auto;

}

.boots_index{
	padding: 10px;
}


#sign_in_index,
#sign_up_index{
	border: 1px solid #000;
	border-radius: 5px;
    width: 115px;
    min-height: 50px;
    font-size: 14px;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 1em 2em;
/*    background: #ABEBFF;*/
	background: white;
    vertical-align: middle;
    z-index: 1;
	padding-bottom: 14px;
	text-align: center;
	margin: 0 auto;
	margin-right: 10px;

}

.button_control{
	text-align: center;

}

@media(max-width: 767px){
	.homepage_wrapper{
		margin: 0;
	}

	#check_border{
	width: 275px;
	padding-left: 10px;
	padding-top: 20px;
	margin: 0 auto;

	}

	.rule_link{
		display: none;
	}
}

@media(max-width: 620px){
	#check_border{
	width: 200px;
	text-align: center;
	padding-left: 10px;
	padding-top: 30px;
	margin: 0 auto;

	}
}

@media(max-width: 320px){
		.rule_link{
		display: none;
	}

	.settings_link{
		display: none;
	}

		#check_border{
	width: 265px;
	padding-left: 10px;
	padding-top: 20px;
	margin: 0 auto;

	}

}

				/* Owners Show Styles */
#owner_show_fieldset{
	border: 1px groove #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	max-width: 700px;
	padding: 5 10px;
	margin: 0 auto;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

#owner_show_legend{
	border-bottom:0;
	width:auto !important;
	text-align: center;
	padding: 0.2em 1em;
}

.show_text{
	text-align: center;
}

#avatar_show{
	text-align: center;
	padding-bottom: 5px;
    image-orientation: from-image;
}

.avatar_image{
	max-width: 200px;
}

#edit_account_button{
	text-align: center;
/*	max-width: 160px;*/
}

.btn_style_edit{
/*	border: 1px solid #000;
	border-radius: 2px;
	background-color:  #8FC6FD;
	padding: 1em 2em;
    vertical-align: middle;*/

    width: 155px;
	border-radius: 10px;
	padding: 3px;
	background-color: white;

}

/* Owners Edit Styles */

#edit_owner_wrapper{
	background-color: #8FC6FD;
}

#edit_title{
	text-align: center;
}

#edit_fieldset{
	border: 1px groove #ddd;
	text-align: center;
	padding: 0 1.4em 1.4em 1.4em;
	width: 90%;
	max-width: 600px;
	padding: 5 10px;
	margin-left: 25px;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    margin: 0 auto;
}

#edit_legend{
	border-bottom: 0px;
	width: auto !important;
	padding: 0.2em 1em;
}

#edit_owner_form label{
	width: 100px;
	text-align: right;
	display: inline-block;
	margin-top: 10px;
}

#owner_avatar_edit{
	width: 175px;
	height: 25px;
	margin-bottom: 0;
	margin-left: 3px;
	display: inline;
}


#edit_owner_form input{
		width: 175px;
}

.btn_style{
	width: 175px;
	border-radius: 10px;
	padding: 3px;
	background-color: white;
}













